@import "../../mixins";

.ledgers {
  .heading {
    @include d-flex(row, space-between, center);
    width: 100%;
  }
}

.add-ledger,
.update-ledger {
  width: 500px;
  max-width: 100%;
  margin: 0 auto; /* Center the element horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  * {
    color: var(--text-color1);
  }
}
