@import "../../mixins";

.transactions {
  .heading {
    @include d-flex(row, space-between, center);
    width: 100%;
  }
}

.date-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.1rem;
  font-weight: bold;

  .nepali-datepicker {
    width: 300px;
    height: 100px;
    margin-top: -1.6rem;  
    margin-bottom: -4rem;
    margin-left: 3.5rem;
  }

  .form-control {
    width: 160px;
    height: 45px; //height of date picker box
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background-color: #f7f5e6;
    color: #333a56;

    &.dark-mode {
      background-color: #333a56;
      color: #f7f5e6;
    }
  }
}

.add-transaction,
.update-transaction,
.add-paymentreceipt {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -40px;
  align-items: flex-start;

  .input-container {
    display: flex;
    gap: 1rem;
    width: 100%;

    .input-group {
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}

.custom-date-picker input {
  width: 160px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  font-weight: bold;
}

.voucher-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  th {
    
    font-weight: bold;
  }

  tr:hover {
    background-color: #e6e6e6;
    cursor: pointer;
  }
}
