@import "../../mixins";

.navbar {
  @include d-flex(row, space-between, center);
  color: white;
  background-color:  rgba(99, 5, 117, 0.938);
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  z-index: 9999; /* To avoid grid overlapping navbar*/

  .brand {
    flex: 1;
  }

  .menu {
    ul {
      @include d-flex(row, flex-start, center);
      gap: 1rem;
      li {
        a {
          cursor: pointer;
          font-weight: bold;
          font-family: Helvetica, Arial, sans-serif;
        }
      }
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .toggle {
    margin-left: 0.5rem;
    margin-right: -20px;
   
    cursor: pointer;
    /*
    svg {
      color: yellow;
    }
    */
  }
}

.content {
  margin-top: 60px;
}
.logout {
  margin-left: 16px;
  display: flex;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 0 1rem;

    .menu {
      @include d-flex(column, flex-start, center);

      color: #fff;
      background-color:   rgba(99, 5, 117, 0.938);
      width: 240px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -240px;
      z-index: 100;
      transition: all 0.3s ease-in-out;

      &.open {
        left: 0;
      }

      ul {
        @include d-flex(column, center, center);
        gap: 2rem;
        height: 100%;
        li {
          a {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }

    .hamburger {
      display: block;
    }
  }
}
