@import "../../mixins";

.products {
  .heading {
    @include d-flex(row, space-between, center);
    width: 100%;
  }
}

.add-product,
.update-product {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: -3rem;
}
